
span{display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
    color:white;
   }

.red{background: red;}
.blue{background: blue;}
.green{background: green;}

input{display: none;}
#blue:checked~span.blue{display: none;}
#green:checked~span.green{display: none;}
#red:checked~span.red{display: none;}

label[for="red"]{color: red; text-decoration: underline;}
label[for="blue"]{color: blue; text-decoration: underline;}
label[for="green"]{color: green; text-decoration: underline;}

#blue:checked~label[for="blue"]{opacity: 0.2;}
#red:checked~label[for="red"]{opacity: 0.2;}
#green:checked~label[for="green"]{opacity: 0.2;}


